<ion-content color="primary" [fullscreen]="true">

  <div class="ion-text-center ">
    <img src="assets/ETEC.png" alt="ETEC">
  </div>

  <ion-item class="ion-text-center ion-button-light">
    <ion-label>
      NOVO USUÁRIO
    </ion-label>
  </ion-item>

  <ion-item-divider color="primary">
    <ion-label>
     Digite seus dados
    </ion-label>
  </ion-item-divider>

  <form [formGroup]="formRegistro">

  <ion-item lines="none">
    <ion-label position="stacked">Nome</ion-label>
    <ion-input formControlName="nome" type="text" placeholder="Digite seu nome"></ion-input>
    <ng-container *ngFor="let erro of validacao.nome">
      <span class="msg-erro" 
        *ngIf="formRegistro.get('nome').hasError(erro.tipo) && (formRegistro.get('nome').dirty || formRegistro.get('nome').touched)">
        {{erro.mensagem}}
      </span>
    </ng-container>
  </ion-item>


  <ion-item lines="none">
    <ion-label position="stacked">CPF</ion-label>
    <ion-input [brmasker]="{person: true}" maxLength="14" formControlName="cpf" type="email" placeholder="Digite seu CPF"></ion-input>
    <ng-container *ngFor="let erro of validacao.cpf">
      <span class="msg-erro"
        *ngIf="formRegistro.get('cpf').hasError(erro.tipo) && (formRegistro.get('cpf').dirty || formRegistro.get('cpf').touched)">
        {{erro.mensagem}}
      </span>
    </ng-container>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Data de Nascimento</ion-label>
    <ion-datetime formControlName="data" displayFormat="MM/DD/YYYY" placeholder="Selecionar" cancelText="Cancelar" doneText="ok"></ion-datetime>
    <ng-container *ngFor="let erro of validacao.data">
      <span class="msg-erro"
        *ngIf="formRegistro.get('data').hasError(erro.tipo) && (formRegistro.get('data').dirty || formRegistro.get('data').touched)">
        {{erro.mensagem}}
      </span>
    </ng-container>
  </ion-item>


  <ion-item lines="none">
    <ion-label   position="stacked">Gênero</ion-label>

    <ion-select placeholder="Select One" cancelText="Cancelar">
      <ion-select-option value="f">Feminino</ion-select-option>
      <ion-select-option value="m">Masculino</ion-select-option>
      <ion-select-option value="O">Outro</ion-select-option>
      
    </ion-select>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Celular</ion-label>
    <ion-input     [brmasker]="{phone: true}"     formControlName="celular" type="email" placeholder="Digite seu número"></ion-input>
    <ng-container *ngFor="let erro of validacao.data">
      <span class="msg-erro"
        *ngIf="formRegistro.get('celular').hasError(erro.tipo) && (formRegistro.get('celular').dirty || formRegistro.get('celular').touched)">
        {{erro.mensagem}}
      </span>
    </ng-container>
    
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Digite seu email"></ion-input>
    
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Senha</ion-label>
    <ion-input  formControlName="senha" type="password" placeholder="Escolha Sua Senha"></ion-input>
    <ng-container *ngFor="let erro of validacao.senha">
      <span class="msg-erro"
        *ngIf="formRegistro.get('senha').hasError(erro.tipo) && (formRegistro.get('senha').dirty || formRegistro.get('senha').touched)">
        {{erro.mensagem}}
      </span>
    </ng-container>
    
  </ion-item>

  
  <ion-item lines="none">
    <ion-label position="stacked">Confirme</ion-label>
    <ion-input formControlName="confirmarsenha" type="password" placeholder="Confirme a sua senha"></ion-input>
    <ng-container *ngFor="let erro of validacao.confirmarsenha">
      <span class="msg-erro" *ngIf="formRegistro.get('confirmarsenha').hasError(erro.tipo) && (formRegistro.get('confirmarsenha').dirty || formRegistro.get('confirmarsenha').touched)">
        {{erro.mensagem}}
      </span>
    </ng-container>
  </ion-item>



  <ion-item buttom class="ion-button-light ion-text-center">
    <ion-label>Salvar</ion-label>
  </ion-item>

  <ion-button expand="full" fill="clear" color="light" routerLink="/login">
    Voltar
  </ion-button>

  </form>

  

  

</ion-content>